# RAD Studio / C++ Builder temporary & build files

# Build directories
**/Win32/Debug/
**/Win32/Release/
**/__history/
**/__recovery__/
**/__astcache/

# Binaries and intermediates
*.exe
*.obj
*.dcu
*.tds
*.map
*.lib
*.il?
*.pch
*.pdi
*.res
*.ild
*.ilc
*.ilf
*.ils

# IDE/user/local files
*.identcache
*.local
*.dsk
*.tvsconfig
*.cbproj.local
*.dproj.local

# Backup files
*.~[0-9]*~
*.~*~

# Archives & logs
*.zip
*.7z
*.rar
*.log
